* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --black: #0b0b0b;
    --white: #fff;
    --gray: #f4f4f4;
    --golden-hour: #e7d10a;
    --antique-brown: #9b281a;
}

body {
     background-color: rgb(245, 14, 53);     
}

/* BASIC STYLE */
a {
    text-decoration: none;
    color: var(--black);
}

li {
    list-style: none;
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

.wrapper {
    max-width: 1450px;
    margin: auto;
    padding-inline: 2rem;
}

.golden-bg {
    background: var(--golden-hour);
}

.brown-bg {
    background: var(--antique-brown);
}

img {
    max-width: 100%;
    height: auto;
}

.mt {
    margin-top: 3.5rem;
}

.p-b {
    padding-block: 3.5rem;
}

.gap {
    gap: 2rem;
}

/* HEADER PART */
.navbar {
    /* background: rgb(248, 7, 48); */
    height: 13vh;
    position: relative;
}

.logo {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-icons {
    gap: 1.5rem;
}

.icon {
    font-size: 1.5rem;
}

.navlist {
    background: var(--antique-brown);
    position: absolute;
    top: 100px;
    right: 150px;
    max-width: 15rem;
    z-index: 5;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: 1.5rem;
    opacity: 0;
    visibility: hidden;
}

.navlist-active {
    right: 0;
    opacity: 1;
    visibility: visible;
}

.navlist * {
    font-size: 1.1rem;
    color: var(--white);
}

/* SECTION PART */
.hero-section {
    height: calc(100vh-13vh);
    justify-content: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    left: 100px;
    top: 0;
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 200vw;
    background: var(--gray);
    z-index: -1;
}

.h1-heading {
    font-size: 9rem;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 100%;
}

span {
    font-weight: bold;
}

.big-para {
    font-size: 1.8rem;
    font-weight: 300;
}

.btn {
    padding: .7rem 2rem;
    font-size: .9rem;
    color: var(--white);
    text-transform: uppercase;
    border-radius: 5rem;
    display: block;
    justify-self: flex-start;
    transition: .3s ease-in-out;
}

.hero-content .btn {
    justify-self: flex-end;
}

.btn:hover {
    background: var(--black);
}

.hero-image {
    width: 50rem;
}

.h3-heading {
    font-size: 2.1rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--white);
}

.category-card {
    flex: 1;
    flex-basis: 300px;
    background: var(--gray);
    height: 30rem;
    border-radius: 1.5rem;
    position: relative;
    background-position: center;
    background-size: cover;
    transition: transform .3s ease-in-out;
    overflow: hidden;
}

.category-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
}

.category-card:nth-child(1) {
    background-image: url(chair1.jpg);
}

.category-card:nth-child(2) {
    background-image: url(chair2.png);
}

.category-card:nth-child(3) {
    background-image: url(chair3.png);
}

.category-card:nth-child(4) {
    background-image: url(chair4.png);
}

.h5-heading {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    /* color: var(--white)  */
}

.simple-icon {
    font-size: 1.1rem;
    color: var(--white);
    width: 35px;
    aspect-ratio: 1;
    border-radius: 5rem;
    text-align: center;
    line-height: 35px;
    transition: .3s ease-in-out;
}

.category-card .flex {
    position: absolute;
    bottom: 15px;
    width: 100%;
    padding-inline: 1.5rem;

}

.category-card:hover .simple-icon {
    background: var(--golden-hour);
    transform: rotateZ(-50deg);
}

.h2-heading {
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 100%;
    max-width: 800px;
}

.gradient-txt {
    background: linear-gradient(90deg,
            var(--golden-hour),
            #4e1806);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-align: center;
    margin: auto;
}

.bed-image {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.h6-heading {
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: .2rem;
}

.small-para {
    font-size: .85rem;
    text-transform: capitalize;
    line-height: 100%;
    margin-bottom: .7rem;
}

.simple-icon:hover {
    scale: 1.15;
}

.price {
    color: var(--antique-brown);
}

del {
    color: var(--black);
}

.bed-detail {
    /* background: rgba(240, 240, 240, .4); */
    max-width: 280px;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1.3rem;
    border-radius: 1.5rem;
    backdrop-filter: blur(10px);
    z-index: 10;
}

.brown-txt {
    color: var(--antique-brown);
    font-weight: 400;
    margin-bottom: 1rem;
}

.avg-para {
    font-size: 1.06rem;
    color: black;
    text-transform: capitalize;
    max-width: 600px;
}

.product-card {
    flex: 1;
    flex-basis: 250px;
}

.product-image {
    height: 20rem;
    background: var(--gray);
    border-radius: 1.5rem;
    position: relative;
    overflow: hidden;
}

.product-image image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top;
}

small {
    font-size: .7rem;
    color: rgba(0, 0, 0, 0.598);
    letter-spacing: .2rem;
    text-transform: uppercase;
    margin-top: 1rem;
    display: block;
}

.product-image .btn {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -50px;
    width: 160px;
}

.product-card:hover .product-image .btn {
    bottom: 50px;
}

.center-btn {
    justify-self: center;

}

.about-image {
    /* background: gold; */
    width: 32rem;
    height: 27rem;
    background-image: url('images.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 1.5rem;
    position: relative;
    transform: rotateZ(3deg);
    margin: left 10rem;
    ;
}

.about-image::before {
    content: '';
    background-image: url('images2.webp');
    background-position: inherit;
    background-size: inherit;
    position: absolute;
    height: 22rem;
    width: 17rem;
    border-radius: inherit;
    top: 50%;
    transform: translateY(-50%) rotateZ(-8deg);
    left: -100px;
}

.about p {
    color: var(--antique-brown);
    letter-spacing: .3rem;
    text-transform: uppercase;
    font-weight: 500;
}

.about .h2-heading {
    max-width: 580px;
    margin-top: .8rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

.double-color-bg {
    background: linear-gradient(to top,
            #f1b555b3 50%,
            var(--white) 50%);
}

.service-card {
    flex: 1;
    flex-basis: 350px;
    height: 20vh;
    background: var(--gray);
    padding: 1rem 2.5rem;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.service-card .h5-heading {
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: .6rem;
}

.service-card .service-icon {
    font-size: 1.9rem;
    color: var(--antique-brown);
}

/* FOOTER PART */
.footer-bg {
    background-image: url("img 1.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    isolation: isolate;
}

.footer-bg::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
    backdrop-filter: blur(15px);
}

.footer-bg * {
    color: var(--white);
}

.footer-wrapper .h3-heading {
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 100%;
    margin-block: 1.8rem;
}

.input-container {
    max-width: 300px;
    height: 2.7rem;
    background: rgba(255, 255, 255, 0.26);
    border-radius: 5rem;
    padding-left: 1.2rem;
    padding-right: .4rem;
    display: flex;
    align-items: center;
}

.input-container input[type="email"] {
    flex: 1;
    background: transparent;
    font-size: 1rem;
    color: var(--white);
    border: none;
}

.input-container input[type="email"]:focus {
    outline: none;
}

.input-container input[type="email"]::placeholder {
    color: var(--white);
}

.social-icons {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
}

.footer-bg .flex {
    align-items: flex-start;
}

.footer-wrapper {
    flex: 1;
}

.footer-wrapper .h6 {
    margin-bottom: .8rem;
    font-weight: 400;
}

.footer-wrapper:nth-child(1) {
    flex: 2;
}

.footer-link {
    font-size: 1rem;
    display: block;
    margin-bottom: .7rem;
    text-transform: uppercase;
}

.copyright {
    padding-block: 2rem;
    background: #54463f;
}

.copyright p {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 300;
    text-align: center;
}

.footer-link {
    font-size: 1rem;
    display: block;
    margin-bottom: .7rem;
    font-weight: 300;
}

.contact .footer-link {
    text-decoration: .1rem underline var(--gray);
    text-underline-offset: 5px;
    text-transform: uppercase;
}

@media screen and (max-width:680px) {
    .h1-heading {
        font-size: 5rem;
    }

    .big-para {
        font-size: 1.5rem;
    }

    .hero-image {
        width: 27rem;
    }

    .hero-section::before {
        left: 0;
        width: 18rem;
        top: 100px;
    }

    .bed-image {
        width: 25rem;
    }

    /* .bed-detail {
        opacity: 0;
        visibility: hidden;
        transition: .3s ease-in-out;
    }

    .bed-image:hover .bed-detail {
        opacity: 1;
        visibility: visible;

    } */
    .about-image {
        width: 25rem;
        height: 25rem;
        margin-left: 6rem;
    }

    .about-image::before {
        width: 16rem;
        height: 15rem;
    }

}

.bed-detail {
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in-out;
}

.bed-image:hover .bed-detail {
    opacity: 1;
    visibility: visible;

}