.video-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    aspect-ratio: 16/9;
   }
@media ( min-width:768px) {
    .video-wrapper{
        width: calc( 33.33% -20px);
    }
    
}
element style{
width: 200px;
    height: 300px;
    left: 0px; 
    top: -300px;
}