body {
    background-color: #e9f5fa;
    font-family: Arial, Helvetica, sans-serif;
}
.tag {
    padding: 4px 8px;
    border: 1px solid #eaff07;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #0c5bbd;
}
img{
    object-fit: cover;
    border-radius: 12px;
    height: 214px;
    width: 100%;
}
.name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
    color: rgb(43, 226, 217);
}
p {
    font-size: 14px;
    color: #84909e;
    line-height: 150%;
}
button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: #6ae921;
    background-color: #e0efff;
    /* Button is inline-block element by deafault,it need to have block display for margin:0 auto; to work */
    margin: 0  auto;
    display: block;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
button:focus, button:hover {
    background-color: #0077ff;
    color: #E0EFFF;
}
.card_details {
    /* Add space around the details */
    padding: 16px 8px 8px 8px;
}
#container {
    max-width: 300px;
    margin: auto;
    margin-top: 20vh;
}
.card {
    background-color: rgb(110, 31, 31);
    border: 1px solid #92f80d;
    padding: 8px;
    border-radius: 12px;
}